.eventSearchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 140px;
  margin-bottom: 110px;
}

.searchContainer {
  flex: 1;
  padding-right: 20px;
}

.searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchButtonEvents {
  width: 60%;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.headerContainer {
  flex: 1;
  text-align: right;
  margin-right: 10%;
}

.headerContainer h1 {
  font-size: 3rem;
}

.collectmoments {
  color: orange;
  font-size: 1.5rem;
}
